/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.wrapper_container {
	height: 100vh;
	width: 100vw;
	font-family: "Montserrat", sans-serif;
}

.nav_container {
	background-image: linear-gradient(
		to left,
		#3264f5,
		#4a54e8,
		#5b42db,
		#682ccb,
		#7202bb
	) !important;
}

.nav_container_content {
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.nav_logo a img {
	height: 20px;
}

.nav_text {
	display: flex;
	gap: 25px;
}

.text a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}

.text {
	transform: scale(0.9);
	transition: all 0.5s ease;
}

.text:hover {
	transform: scale(1);
	text-shadow: 1px 1px 7px rgba(128, 0, 0, 1);
}

.nav-togle-icon {
	color: white;
	display: none;
	font-size: 23px;
	font-weight: 700;
}

@media screen and (max-width: 960px) {
	.nav-togle-icon {
		display: flex;
	}

	.nav_text {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 75px;
		right: 5px;
		width: 35%;
		height: auto; /* Changed height to auto for flexibility */
		align-items: center;
		padding: 12px;
		border-radius: 12px;
		background-color: #4358eb;
		transition: transform 1s ease-in-out;
	}

	.nav_text.active {
		display: flex; /* Show nav when active */
	}
}

.hero-container {
	background-image: url("./assets/heroImage/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.hero-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(2, 90, 134, 0.5);
	backdrop-filter: blur(2px);
	z-index: 1;
}

.hero-container > * {
	position: relative;
	z-index: 2;
}

.hero_subContainer {
	max-width: 1140px;
	margin: 0 auto;
	padding: 1.5rem;
}

.hero_content_div {
	display: flex;
	justify-content: space-between;
	gap: 90px;
}

.demo {
	width: 50%;
}

.video_container {
	width: 50%;
	display: block;
}

.iphone-mask {
	z-index: 10;
	object-fit: cover;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: 0;
}

.img-fluid {
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: 10;
	transition: all 400ms ease-in 0s;
}

.video-wrap {
	vertical-align: baseline;
	position: absolute;
	height: 100%;
	box-sizing: border-box;
	top: -2px;
	font: inherit;
	padding: 18px;
	overflow: hidden;
}
.video-wrap video {
	transform-style: preserve-3d;
	text-align: center;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
	background: white;
	border-radius: 10px;
}

.hero_btton {
	display: flex;
	gap: 60px;
}

.text_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 6rem;
}

.hero_heading {
	width: 500px;
	padding: 2rem 0;
	color: white;
	font-size: 1.25rem;
	letter-spacing: 1.6;
}

.hero_paragraph {
	color: white;
	letter-spacing: 1;
	padding-bottom: 2rem;
}

.hero_paragraph p {
	line-height: 1.75rem;
}

.hero_btton .down_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	font-weight: bold;
	transition: 0.3s;
	background-color: [object object];
	background-image: radial-gradient(
		circle at 100% 0%,
		rgba(94, 138, 243, 1) 15%,
		rgba(243, 61, 223, 1)
	);
}

.hero_btton .down_btn:hover {
	opacity: 0.5;
}

/* 3 */

.truth-container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 1.5rem;
}
.company_div {
	display: flex;
	margin: 12px;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.img_com {
	display: flex;
	flex-direction: row;
	height: 50px;
}

.pragraph_com p {
	font-size: 1.5rem;
	font-weight: 500;
}

/* 4 */

.Com_container {
	max-width: 1140px;
	margin: 0 auto;
	/* padding: 1.5rem; */
	margin-top: 2rem;
	margin-bottom: 2.75rem;
}

.comu_box {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.comu_text {
	text-align: center;
	width: 800px;
	margin: 0 auto;
}

.comu_text h2 {
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 3px;
}

.comu_text p {
	font-size: 1.25rem;
	padding-top: 1rem;
	color: #636a6a;
	line-height: 1.6;
}

.comu_sub_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	padding-top: 2rem;
}

.cumu_img_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 1.75rem;
	transition: all 0.2s ease-out;
	border-top: 4px solid;
	transition-property: box-shadow, transform;
	transition-duration: 350ms;
	transition-timing-function: ease;
	box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.24);
}

.cumu_img_box:is(:hover, :focus) {
	box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
	transform: translateY(-9px);
}

.cumu_img_box div img {
	height: 120px;
}

.cumu_text_box {
	text-align: center;
	line-height: 1.6;
}

.box1 {
	border-top: 4px solid #960ab7;
}

.box2 {
	border-top: 4px solid #7202bb;
}

.box3 {
	border-top: 4px solid #3264f5;
}

.comu_btn {
	display: flex;
	gap: 10px;
}

.comu_btn button {
	padding: 5px;
	text-transform: uppercase;
	border: 0.75px solid white;
	border-radius: 4px;
}

.btn1 {
	background-color: #ffdce5;
	color: #ff164e;
	font-size: 0.75rem;
}
.btn2 {
	background-color: #e0f5e9;
	color: #62bf6d;
	font-size: 0.75rem;
}
