/** @format */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.wrapper_container {
	height: 100vh;
	width: 100vw;
	font-family: "Montserrat", sans-serif;
}

.nav_container {
	background-image: linear-gradient(
		to left,
		#3264f5,
		#4a54e8,
		#5b42db,
		#682ccb,
		#7202bb
	) !important;
}

.nav_container_content {
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.nav_logo a img {
	height: 20px;
}

.nav_text {
	display: flex;
	gap: 25px;
}

.text a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}

.text {
	transform: scale(0.9);
	transition: all 0.5s ease;
}

.text:hover {
	transform: scale(1);
	text-shadow: 1px 1px 7px rgba(128, 0, 0, 1);
}

.nav-togle-icon{
    color: white;
    display: none;
    font-size: 23px;
    font-weight: 700;
}



@media screen and (max-width: 960px) {
    .nav-togle-icon{
        display: flex;
    }

    .nav_text{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 5px;
        width: 35%;
        height: 340px;
        align-items: center;
        padding: 12px;
        border-radius: 12px;
        background-color: #4358EB;
		transition: transform 1s ease-in-out;
    }

	.nav_text.active {
        display: flex; /* Show nav when active */
    }
}



/* .hero-container{
	margin-top: 25px;
} */

.hero_first_container {
    background-image: url("./assets/heroImage/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    overflow: hidden; 
}

.hero_first_container::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(184, 97, 97, 0.5); 
    backdrop-filter: blur(2px); 
    z-index: 1; 
}

.hero_first_container > * {
    position: relative;
    z-index: 2; 
}


.hero_content_div{
	max-width: 1140px;
	margin: 0 auto;
	height: 100vh;
}

.demo{
	width: 650px;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero_heading h1{
	color: white;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.hero_paragraph p{
	color: white;
	font-size: 1rem;
	line-height: 1.6;
	letter-spacing: 1.cap;
}


.hero_btton{
	display: flex;
	/* justify-content: space-around;	 */
	gap: 30px;
	align-items: center;
	text-align: center;
}

.hero_btton .down_btn{
	padding: 15px 25px;
	color: black;
	font-size: 1rem;
	font-weight: 500;  
	color: rgba(19, 0, 0, 0.5); 
	border-radius: 15px;
}